body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input[type="number"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  margin: 5px;
}
select, button {
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}